<div
  *ngIf="translations()"
  nz-row
  class="row"
  style="justify-content: space-evenly"
>
  <!-- Preload Component -->
  <div nz-col [nzMd]="22" [nzXs]="22" style="padding-bottom: 25px">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <nz-tabset
          nzSize="large"
          [nzTabBarExtraContent]="extraTemplate"
          nzLinkRouter
        >
          <nz-tab>
            <a
              *nzTabLink
              nz-tab-link
              [routerLink]="['.']"
              [queryParams]="{ tab: 'one' }"
              queryParamsHandling="merge"
              (click)="currentTab = 0"
            >
              Про нас
            </a>

            <app-about [hidden]="hideComponent"></app-about>
          </nz-tab>
          <nz-tab>
            <a
              *nzTabLink
              nz-tab-link
              [routerLink]="['.']"
              [queryParams]="{ tab: 'two' }"
              queryParamsHandling="merge"
              (click)="currentTab = 1"
            >
              Контакти
            </a>
            <app-clients [hidden]="hideComponent"></app-clients>
          </nz-tab>
          <nz-tab>
            <a
              *nzTabLink
              nz-tab-link
              [routerLink]="['.']"
              [queryParams]="{ tab: 'three' }"
              queryParamsHandling="merge"
              (click)="currentTab = 2"
            >
              Послуги
            </a>
            <app-services [hidden]="hideComponent"></app-services>
          </nz-tab>
          <nz-tab>
            <a
              *nzTabLink
              nz-tab-link
              [routerLink]="['.']"
              [queryParams]="{ tab: 'four' }"
              queryParamsHandling="merge"
            >
              Four
            </a>
            Four.
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="hideComponent = !hideComponent">
      Сховати
    </button>
  </ng-template>
  <!-- End Preload Component -->

  <!-- Forms  -->
  <div nz-col [nzMd]="22" [nzXs]="22">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <nz-tabset nzSize="large" [nzSelectedIndex]="currentTab">
          <!-- About as -->
          <nz-tab>
            <h3>Редагування сторінки 'Про нас'</h3>
            <h4>Назва сторінки 'Про нас'</h4>
            @for(lan of lang; track $index) {
            <nz-input-group [nzAddOnBefore]="lan">
              <input
                type="text"
                nz-input
                [ngModel]="$translations()[lan]['about.title']"
                (ngModelChange)="onInputChanged($event, 'about.title', lan)"
              />
            </nz-input-group>
            }
            <h4>Опис сторінки 'Про нас'</h4>
            @for(lan of lang; track $index) {
            <nz-input-group [nzAddOnBefore]="lan">
              <textarea
                nz-input
                placeholder="Detail"
                [ngModel]="$translations()[lan]['about.detail']"
                (ngModelChange)="onInputChanged($event, 'about.detail', lan)"
                [nzAutosize]="{ minRows: 3, maxRows: 5 }"
              ></textarea>
            </nz-input-group>
            }
          </nz-tab>
          <!-- End About as -->

          <!-- Contacts  -->
          <nz-tab
            ><h3>Редагування сторінки 'Контакти'</h3>

            <h4>Назва сторінки 'Контакти'</h4>
            @for(lan of lang; track $index) {
            <nz-input-group [nzAddOnBefore]="lan">
              <input
                type="text"
                nz-input
                [ngModel]="$translations()[lan]['contacts.title']"
                (ngModelChange)="onInputChanged($event, 'contacts.title', lan)"
              />
            </nz-input-group>
            }
            <h4>Графік роботи</h4>
            @for(lan of lang; track $index) {
            <nz-input-group [nzAddOnBefore]="lan">
              <input
                type="text"
                nz-input
                [ngModel]="$translations()[lan]['contacts.workHour']"
                (ngModelChange)="
                  onInputChanged($event, 'contacts.workHour', lan)
                "
              />
            </nz-input-group>
            }

            <h4>Адреса</h4>
            <input
              type="text"
              nz-input
              [ngModel]="_contactsService.$contacts()['location']"
              (ngModelChange)="onInputChangedContacts($event, 'location')"
            />

            <h4>Instagram</h4>
            <input
              type="text"
              nz-input
              [ngModel]="_contactsService.$contacts()['instagram']"
              (ngModelChange)="onInputChangedContacts($event, 'instagram')"
            />

            <h4>Telegram</h4>
            <input
              type="text"
              nz-input
              [ngModel]="_contactsService.$contacts()['telegram']"
              (ngModelChange)="onInputChangedContacts($event, 'telegram')"
            />
            <h4>Facebook</h4>
            <input
              type="text"
              nz-input
              [ngModel]="_contactsService.$contacts()['facebook']"
              (ngModelChange)="onInputChangedContacts($event, 'facebook')"
            />
            <h4>Телефон</h4>
            <input
              type="text"
              nz-input
              [ngModel]="_contactsService.$contacts()['phone']"
              (ngModelChange)="onInputChangedContacts($event, 'phone')"
            />
          </nz-tab>

          <!--  end Contacts -->

          <!-- Services -->
          <nz-tab>
            <h3>Редагування сторінки 'Послуги'</h3>
            <div
              nz-row
              class="row clearfix"
              style="justify-content: space-between"
            >
              <div nz-col nzSpan="10">
                <!-- <h4>Назва сторінки 'Послуги'</h4>
            @for(lan of lang; track $index) {
            <nz-input-group [nzAddOnBefore]="lan">
              <input
                type="text"
                nz-input
                [ngModel]="$translations()[lan]['contacts.title']"
                (ngModelChange)="onInputChanged($event, 'contacts.title', lan)"
              />
            </nz-input-group>
            } -->

                <nz-collapse>
                  @for (category of $servicesCategory(); track category) {
                  <nz-collapse-panel
                    [nzActive]="category.active"
                    [nzHeader]="category.title"
                  >
                    <nz-collapse>
                      @for (services of category.list; track services) {
                      <nz-collapse-panel
                        [nzActive]="services.active"
                        [nzHeader]="services.title"
                      >
                        <p>
                          <b>Описання послуги: </b>{{ services.description }}
                        </p>
                        <br />
                        <p>
                          <b>Ціна послуги: </b>{{ services.price }}
                        </p> </nz-collapse-panel
                      >}
                    </nz-collapse>
                  </nz-collapse-panel>
                  }
                </nz-collapse>
              </div>
              <div nz-col nzSpan="10">
                <!-- <input
                  type="text"
                  nz-input
                  [ngModel]="category.title"
                  (focusout)="saveChangeCategory()"
                  (ngModelChange)="
                    onInputChangedServiceCategory($event, category)
                  "
                /> -->
                <h4>Telegram</h4>
                <input type="text" nz-input />
              </div>
            </div>
          </nz-tab>
          <!-- end Services -->
        </nz-tabset>
      </div>
    </div>
  </div>
</div>
