<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div nz-row class="row2 clearfix">
    <div nz-col nzSpan="20" class="section-heading">
      <h3>{{ i18n.get("about") }}</h3>
      <h2 class="section-title">{{ i18n.get("about.title") }}</h2>
    </div>
    <div nz-col [nzXl]="12" [nzLg]="12" [nzMd]="8" [nzSm]="20" [nzXs]="20">
      <p class="section-subtitle">{{ i18n.get("about.detail") }}</p>
    </div>

    <div
      class="right-content"
      nz-col
      nzOffset="2"
      [nzXl]="6"
      [nzLg]="6"
      [nzMd]="6"
      [nzSm]="20"
      [nzXs]="20"
    >
      <img [src]="about.image2" alt="" />
    </div>
  </div>
</section>
<!--End of Introduction-->
