.service-card {
  transition: all 200ms;
  cursor: pointer;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 10px 5px;
}

.service-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-price {
  color: rgba(243, 117, 28, 0.825);
  font-size: 16px;
  font-weight: 600;
}
