<section id="services" class="secondary-color scrollto">
  <div nz-row class="row2 clearfix">
    <div nz-col [nzSpan]="20" class="section-heading">
      <h2 nz-col nzSpan="20" class="section-title">
        Ви успішно забронювали дату та час!
      </h2>
    </div>

    <!--<div nz-col [nzXl]="6" [nzLg]="6" [nzMd]="6" [nzSm]="24" [nzXs]="24">
       <nz-card
        class="service-1ard"
        [nzTitle]="calendarEvent.se"
        [nzExtra]="price"
        nzSize="small"
        [nzActions]="[actionSubmit]"
      >
        <nz-card-meta
          *ngIf="selectedBarber"
          [nzAvat
          ar]="avatarTemplate"
          [nzTitle]="selectedBarber.name"
          [nzDescription]="selectedBarber.description"
        ></nz-card-meta>
        <p *ngIf="current != 3 && current != 4" style="padding-top: 20px">
          @if(this.selectedDate) {
          {{ this.selectedDate | date : "fullDate" }}
          } @if(this.selectedTime) { о
          {{ this.selectedTime }} год }
        </p>
      </nz-card>
      <ng-template #actionSubmit>
        <button
          [disabled]="!this.selectedTime"
          nz-button
          nzType="primary"
          style="width: 80%"
          nzBlock
          (click)="this.current = 3"
        >
          Продовжити
        </button>
        {{ this.selectedDate | date : "fullDate" }}
        о
        {{ this.selectedTime }} год
      </ng-template>
      <ng-template #avatarTemplate>
        <nz-avatar
          *ngIf="selectedBarber"
          [nzSrc]="selectedBarber.avatar"
        ></nz-avatar>
      </ng-template>
      <ng-template #price>
        <span class="card-price">
          {{ selectedService?.price }} Kč
        </span></ng-template
      >
    </div> -->

    <p>Вам прийде підтвердження на вказану почту або телефон.</p>
    <a routerLink="/home" routerLinkActive="active" class="button"
      >На головну</a
    >
  </div>
</section>
