<app-layout
  ><div nz-row class="row">
    <div nz-col [nzMd]="12" [nzXs]="22">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <nz-timeline *ngIf="calendarEvents()">
            <nz-timeline-item
              [nzColor]="getTimelineColor(item)"
              *ngFor="let item of sort(calendarEvents())"
            >
              <h4>{{ formatDate(item.date) }}</h4>
              <!-- <h4>{{ item.date | date : "H:mm" }}</h4>
            {{ item.date | date : "dd.MM" }} -->

              <p>
                {{ item.user.username }} -
                {{ item.user.email ? item.user.email : null }}
                {{ item.user.email ? item.user.phone : null }}
              </p>
              <p>
                {{ item.barber?.name }} ->
                {{ item.service?.title }}
              </p>
            </nz-timeline-item>
          </nz-timeline>
        </div>
      </div>
    </div>
  </div>
</app-layout>
