<div>
  <div style="margin-bottom: 20px">
    <ng-template [ngIf]="hiddenAdd == false">
      <button nz-button (click)="addRow()" nzType="primary">
        Добавити запис
      </button></ng-template
    >
    <ng-template [ngIf]="hiddenAdd">
      <form nz-form (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="16" nzJustify="space-around">
          <nz-form-item [nzSpan]="11" nz-col>
            <nz-form-label [nzSpan]="20" nzLabelAlign="left" for="date"
              >Час</nz-form-label
            >
            <nz-time-picker
              [(ngModel)]="time"
              name="date"
              style="width: 100%"
              [nzHideDisabledOptions]="true"
              [nzDisabledHours]="disabledHours()"
              nzFormat="HH:mm"
              [nzMinuteStep]="30"
            ></nz-time-picker>
          </nz-form-item>
          <nz-form-item nz-col [nzSpan]="11">
            <nz-form-label [nzSpan]="20" nzLabelAlign="left" for="service"
              >Послуга</nz-form-label
            >
            <nz-select
              style="width: 100%"
              name="service"
              [(ngModel)]="dateEvent.service"
            >
              <nz-option
                *ngFor="let service of services"
                [nzValue]="service.id"
                [nzLabel]="service.title || null"
              ></nz-option>
            </nz-select>
          </nz-form-item>
          <nz-form-item nz-col [nzSpan]="11">
            <nz-form-label [nzSpan]="20" nzLabelAlign="left" for="firstName"
              >Імя</nz-form-label
            >

            <input
              [(ngModel)]="dateEvent.firstName"
              style="width: 100%"
              nz-input
              id="firstName"
              name="firstName"
              nzSize="small"
              [ngModelOptions]="{ standalone: true }"
            />
          </nz-form-item>
          <nz-form-item nz-col [nzSpan]="11">
            <nz-form-label [nzSpan]="20" nzLabelAlign="left" for="phone"
              >Телефон</nz-form-label
            >

            <input
              [(ngModel)]="dateEvent.phone"
              style="width: 100%"
              nz-input
              id="phone"
              name="phone"
              nzSize="small"
            />
          </nz-form-item>
          <nz-form-item nz-col [nzSpan]="20">
            <button
              style="width: 100%"
              nz-button
              type="submit"
              nzType="primary"
            >
              Зберегти
            </button>
          </nz-form-item>
        </div>
      </form>
    </ng-template>
  </div>

  <nz-timeline>
    <nz-timeline-item
      [nzColor]="getTimelineColor(item)"
      *ngFor="let item of nzModalData"
    >
      <h4>{{ item.date.seconds * 1000 | date : "H:mm" }}</h4>

      <p>{{ item.firstName }} - {{ item.email }}</p>
      <p>
        {{ getBarber(item.barber)?.name }} ->
        {{ getService(item.service)?.title }}
      </p>
    </nz-timeline-item>
  </nz-timeline>
</div>
