<app-layout>
  <div nz-row class="row2" nzJustify="center">
    <div nz-col [nzSpan]="20" class="section-heading">
      <h2 nz-col nzSpan="20" class="section-title">Реєстрація</h2>
    </div>
    <div nz-col nzXs="20" nzSm="20" nzMd="10" nzLg="10" nzXl="10">
      <form
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
        class="login-form"
      >
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
            <nz-input-group nzPrefixIcon="user">
              <input
                nz-input
                formControlName="firstName"
                placeholder="Ваше ім'я"
                id="firstName"
                type="firstName"
              />
              <ng-template #firstNameErrorTpl let-control>
                @if (control.errors?.['firstName']) { The input is not valid
                firstName! } @if (control.errors?.['required']) { Please input
                your firstName! }
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <nz-input-group nzPrefixIcon="mail">
              <input
                nz-input
                formControlName="email"
                placeholder="E-mail"
                id="email"
                type="email"
              />
              <ng-template #emailErrorTpl let-control>
                @if (control.errors?.['email']) { The input is not valid E-mail!
                } @if (control.errors?.['required']) { Please input your E-mail!
                }
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input
                nz-input
                minlength="6"
                maxlength="12"
                placeholder="Пароль"
                formControlName="password"
                id="password"
              />
              <ng-template #passwordErrorTpl let-control>
                @if (control.errors?.['maxlength']) { MaxLength is 40 } @if
                (control.errors?.['minlength']) { MinLength is 6 } @if
                (control.errors?.['required']) { Password is required }
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          class="login-form-button login-form-margin"
          nzType="primary"
        >
          Увійти
        </button>
      </form>
    </div>
    <div nz-col nzXs="20" nzSm="20" nzMd="10" nzLg="10" nzXl="10">
      <button-login [buttons]="buttonsLogin"></button-login>
    </div>
  </div>
</app-layout>
