<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->
  <div nz-row id="banner-content" class="row2 clearfix">
    <div nz-col [nzSpan]="20" class="section-heading">
      <h1 class="section-title">{{ header.title }}</h1>
    </div>
    <div
      nz-row
      class="ant-flex-justify-center big-padding-top big-padding-bottom"
    >
      <div nz-col [nzSpan]="20" class="section-subtitle">
        <p>
          <b>{{ client.addressText }}</b>
        </p>

        <p>{{ client.phone }}</p>
      </div>
    </div>

    <!--Call to Action-->
    <div nz-col [nzSpan]="20">
      <a routerLink="/reserve" routerLinkActive="active" class="button">{{
        header.buttontext
      }}</a>
    </div>

    <!--End Call to Action-->
  </div>
  <!--End of Row-->
</header>
<app-about></app-about>
<app-services></app-services>
<app-feedback></app-feedback>
<app-clients></app-clients>
